.projects-card{
    width: 75%;
    height:100%;
    text-decoration: none;
}

@media only screen and (max-width: 768px) {
    .projects-card {
        width: 100%;
    }
}

.nav-link {
    color: white !important;
  }
  
.nav-link.active {
    color: red !important;
}

.card-image{
    height: 50%;
    width:100%;
}
