.projects-card{
    width: 75%;
    height: 75%;
    text-decoration: none;
}

.nav-link {
    color: black !important;
  }
  
.nav-link.active {
    color: red !important;
}

.card-image{
    border-radius: 5px;
    height:60%;
}