.projects-card{
    width: 75%;
    height:100%;
    text-decoration: none;
}

.nav-link {
    color: white !important;
  }
  
.nav-link.active {
    color: red !important;
}

.card-image{
    height: 50%;
    width:100%;
}
