.card{
    background-color: black;
    color:white;
    transition: 0.5s;
    border-radius: 10px;
  }
  
.card:hover{
    background-color: white;
    color: black;
    border: 0.2px solid red;
    box-shadow: 0 0 5px 1px #fffdfd;
    border-radius: 10px;
}