html {
  scroll-behavior: smooth;
}

.bg-app {
  margin: 0;
  font-family: "Verdana";
  background-color: white;
  color: black;
}

.section {
  padding: 100px 0;
  text-align: center;
}

.bg-card{
  background-color: black;
  border: none;
  color:white;
}