html {
  scroll-behavior: smooth;
}

#root {
  margin: 0;
  background-image:linear-gradient(to top,rgb(164, 3, 3), rgb(88, 2, 2) 10%,rgb(0, 0, 0)80% );
  color: white;
  width: 100vw;
}

@media only screen and (max-width: 768px) {
  #root {
    width: 100%;
  }
}

.section{
  padding: 100px 0;
}

*{
  font-family: "Arial";
}

.span-ele{
  color:white;
}

.span-ele:hover{
  color:red;
}

.bg-home{
  background-image: radial-gradient(rgb(74, 2, 2), rgb(49, 0, 0) 10%,rgb(0, 0, 0)80%);
}

.contact-card{
  width: 25vw;
  height:10vh;
}


@media only screen and (max-width: 768px) {
  .contact-card {
    width: 50vw;
  }
}